table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 3px solid ForestGreen;
    text-align: left;
    padding: 8px;
}
body {
    background-color: Wheat;
}
p  {
    color: black;
    font-family: courier;
    font-size: 100%;
}